<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .container {
                height: 10em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 200px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <table>
                <a href="register"> <button type="button" class="btn btn-secondary">Cadastrar-se</button> </a>
                <a href="client"> <button type="button" class="btn btn-secondary">Entrar Como Cliente</button> </a>
                <a href="company"> <button type="button" class="btn btn-secondary">Entrar Como Administrador Da Empresa</button> </a>
            </table>
        </div>
    </body>
</html>
